<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436052485965-hrjlqcgipjdb74b651jjg7h0vvo3n2ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436052485965-hrjlqcgipjdb74b651jjg7h0vvo3n2ij</string>
	<key>API_KEY</key>
	<string>AIzaSyDBgFqwGuDXfqfYdBhWR535gQTYj8GV4q8</string>
	<key>GCM_SENDER_ID</key>
	<string>436052485965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starter.development.sendbird.stepzen</string>
	<key>PROJECT_ID</key>
	<string>sendbird-stepzen</string>
	<key>STORAGE_BUCKET</key>
	<string>sendbird-stepzen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436052485965:ios:9e4b79fedeabb2cf0af904</string>
</dict>
</plist>